.body {
    margin: 0;
    padding: 0;
}
.desktop-2 {
    background-color: white;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hlps {
    height: 10vh;
    width: 25vw;
    color: black;
    font-style: italic;
    display: flex;
    margin-bottom: 100px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: 600;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

.line-1 {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 20px;
}
.frame-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu {
    color: black;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
}
.menu-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.header2 {
    color: black;
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.frame-1 {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674373846_catherineasquithgallery-com-p-svetlo-svetlo-serii-fon-foto-36.jpg") ;
    padding: 2vh 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: -1vh 0 0;
    box-sizing: border-box;
}


.table-container {
    position: relative;
    height: 24vh;
    overflow-y: auto;
    width: 90%;
    margin-bottom: 5vh;
}
.table {
    height: 100%;
    width: 100%;
    background-color: darkgray;
    min-width: 600px;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(91, 91, 91, 1);
    border-collapse: collapse; /* Объединение границ ячеек */
}

.table th,
.table td {
    border: 1px solid white; /* Видимая граница для ячеек */
    padding: 8px; /* Добавление отступов внутри ячеек */
    vertical-align: top;
    font-size: 1em;
}


.rectanglefortext {
    width: 80%;
    height: 40px;
    margin-bottom: 5vh;
    background-color: transparent;
    border: 1px solid #000;
    padding: 5px 10px;
}
.slider-container {
    position: relative;
    width: 80%;
    height: 8vh;
    margin-bottom: 5vh;
}

.slider {
    width: 100%;
    height: 20px;
    appearance: none;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 3vh;
    height: 3vh;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #666;
}

.slider-value {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    color: black;
}
.rectangle-1 {
    width: 573px;
    height: 75px;
    background-color: rgba(146, 143, 143, 1);
    border-radius: 60px;
    position: relative;
}

.table-button {
    background-color: darkgray;
    border: none;
    border-radius: 60px;
    color: black;
    font-family: "Inter";
    font-weight: 600;
    line-height: 4vh;
    cursor: pointer;
    margin-bottom: 5vh;
    padding: 1vh 1vh;
    position: relative;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.companypictures {
    width: 25vw;
    height: 25vw;
}
.option-text {
    display: none;
}
.option-div button {
    width: auto;
    font-family: "Inter";
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 20px;
    background-color: gray;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.option-div {
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option-div.expanded .option-text {
    display: block;
}
.button-style {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}