<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Система парсинга</title>
    <link rel="stylesheet" th:href="@{/WildBerriesStyles.css}">
</head>
<body>
<div class="desktop-2">
    <p class="hlps">HLPS</p>
    <div class="frame-5">
        <p class="menu">
            <a class="menu-link" href="/vkr/home">Главная</a>
        </p>
        <p class="menu">Контакты</p>
        <p class="menu">WildBerries</p>
        <p class="menu">О проекте</p>
    </div>
    <div class="line-1"></div>
    <div class="frame-1">
        <p class="header2">
            Введите запрос для поиска:
        </p>
        <input type="text" class="rectanglefortext">
        <p class="header2">
            Введите количество страниц:
        </p>
        <div class="slider-container">
            <input type="range" class="slider" min="1" max="50" value="1" oninput="updateSliderValue(this.value)">
            <div id="slider-value" class="slider-value">1</div>
        </div>
        <div class = "get button">
            <button id="getProductsMainInfoButton">Получить основную информацию</button>
        </div>
        <div class="table-container">
            <table id="productsTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Price</th>
                    <th>Sale Price</th>
                    <th>Rating</th>
                    <th>Brand</th>
                    <th>Pictures</th>
                </tr>
                </thead>
                <tbody id="productsBody"></tbody>
            </table>
        </div>
        <p class="header2">
            Введите Id товара для получения расширенной информации:
        </p>
        <input type="text" class="rectanglefortext">
        <div class="get button">
            <button id="getProductExtendedInfoButton">Получить расширенную информацию</button>
        </div>
        <div class="table-container">
            <table id="productsExtendedInfoTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>FullName</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Options</th>
                    <th>PriceHistory</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody id="productsExtendedInfoBody"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function updateSliderValue(value) {
        var sliderValueElement = document.getElementById("slider-value");
        sliderValueElement.textContent = value;
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('getProductsMainInfoButton').addEventListener('click', function() {
            var productName = document.querySelector('.rectanglefortext').value;
            var pages = document.getElementById('slider-value').textContent;
            if (pages === '') {
                pages = 50;
            }
            var url = '/vkr/getProductsMainInfo?productName=' + encodeURIComponent(productName) + '&pages=' + encodeURIComponent(pages);

            fetch(url, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    var tableBody = document.getElementById('productsBody');
                    // Очищаем содержимое таблицы
                    tableBody.innerHTML = '';

                    // Добавляем данные в таблицу
                    data.forEach(function(mainInfo) {
                        var row = document.createElement('tr');

                        var idCell = document.createElement('td');
                        idCell.textContent = mainInfo.id;
                        row.appendChild(idCell);

                        var priceCell = document.createElement('td');
                        priceCell.textContent = mainInfo.priceU;
                        row.appendChild(priceCell);

                        var salePriceCell = document.createElement('td');
                        salePriceCell.textContent = mainInfo.salePrice;
                        row.appendChild(salePriceCell);

                        var ratingCell = document.createElement('td');
                        ratingCell.textContent = mainInfo.rating;
                        row.appendChild(ratingCell);

                        var brandCell = document.createElement('td');
                        brandCell.textContent = mainInfo.brand;
                        row.appendChild(brandCell);

                        var picturesCell = document.createElement('td');
                        picturesCell.textContent = mainInfo.pics;
                        row.appendChild(picturesCell);

                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    // Обработка ошибок
                    console.log(error);
                });
        });

        document.getElementById('getProductExtendedInfoButton').addEventListener('click', function() {
            var productId = document.querySelector('.rectanglefortext:last-of-type').value;
            var url = '/vkr/getProductExtendedInfo?id=' + encodeURIComponent(productId);

            fetch(url, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    var tableBody = document.getElementById('productsExtendedInfoBody');
                    // Очищаем содержимое таблицы
                    tableBody.innerHTML = '';

                    // Добавляем данные в таблицу
                    var extendedInfo = data;
                    var row = document.createElement('tr');

                    var idCell = document.createElement('td');
                    idCell.textContent = extendedInfo.id;
                    row.appendChild(idCell);

                    var fullNameCell = document.createElement('td');
                    fullNameCell.textContent = extendedInfo.fullName;
                    row.appendChild(fullNameCell);

                    var categoryCell = document.createElement('td');
                    categoryCell.textContent = extendedInfo.category;
                    row.appendChild(categoryCell);

                    var subCategoryCell = document.createElement('td');
                    subCategoryCell.textContent = extendedInfo.subCategory;
                    row.appendChild(subCategoryCell);

                    var optionsCell = document.createElement('td');
                    optionsCell.textContent = extendedInfo.options;
                    row.appendChild(optionsCell);

                    var priceHistoryCell = document.createElement('td');
                    priceHistoryCell.textContent = extendedInfo.priceHistory.map(function(price) {
                        return price.price;
                    }).join(', ');
                    row.appendChild(priceHistoryCell);

                    var descriptionCell = document.createElement('td');
                    descriptionCell.textContent = extendedInfo.description;
                    row.appendChild(descriptionCell);

                    tableBody.appendChild(row);
                })
                .catch(error => {
                    // Обработка ошибок
                    console.log(error);
                });
        });
    });
</script>
</body>
</html>
