<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Система парсинга</title>
    <link rel="stylesheet" th:href="@{/WildBerriesStyles.css}">
</head>
<body>
<div class="desktop-2">
    <p class="hlps">HLPS</p>
    <div class="frame-5">
        <p class="menu">
            <a class="menu-link" href="/vkr/home">Главная</a>
        </p>
        <p class="menu">
            <a class="menu-link" href="/vkr/home#form_message">Контакты</a>
        </p>
        <p class="menu">
            <a class="menu-link" href="/vkr/home#services">Услуги</a>
        </p>
        <p class="menu">О проекте</p>
    </div>
    <div class="line-1"></div>
    <div class="frame-1">
        <p class="header2">
            Введите запрос для поиска:
        </p>
        <input type="text" class="rectanglefortext">
        <p class="header2">
            Введите количество страниц:
        </p>
        <div class="slider-container">
            <input type="range" class="slider" min="1" max="50" value="1" oninput="updateSliderValue(this.value)">
            <div id="slider-value" class="slider-value">1</div>
        </div>
        <div class="button-container">
            <div class="table-button">
                <button id="getProductsMainInfoButton" class="button-style">Получить основную информацию</button>
            </div>
        </div>
        <div class="table-container">
            <table id="productsTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Price</th>
                    <th>Sale Price</th>
                    <th>Rating</th>
                    <th>Brand</th>
                    <th>Pictures</th>
                </tr>
                </thead>
                <tbody id="productsBody"></tbody>
            </table>
        </div>
        <div class="table-button">
            <button id="exportMainInfoButton" class="button-style">Экспорт основной информации</button>
        </div>
        <p class="header2">
            Введите Id товара для получения расширенной информации:
        </p>
        <input type="text" class="rectanglefortext">
        <div class="table-button">
            <button id="getProductExtendedInfoButton"  class="button-style">Получить расширенную информацию</button>
        </div>
        <div class="table-container">
            <table id="productsExtendedInfoTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>FullName</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Options</th>
                    <th>PriceHistory</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody id="productsExtendedInfoBody"></tbody>
            </table>
        </div>
        <div class="table-button">
            <button id="exportExtendedInfoButton" class="button-style">Экспорт расширенной информации</button>
        </div>
    </div>
</div>

<script>
    function updateSliderValue(value) {
        var sliderValueElement = document.getElementById("slider-value");
        sliderValueElement.textContent = value;
    }
    function showAnnotationText(event) {
        var button = event.target;
        var div = button.parentNode;
        var optionText = div.querySelector('.option-text');

        if (div.classList.contains('expanded')) {
            optionText.style.display = 'none';
            button.textContent = 'Показать';
            div.classList.remove('expanded');
        } else {
            optionText.style.display = 'block';
            button.textContent = 'Скрыть';
            div.classList.add('expanded');
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('getProductsMainInfoButton').addEventListener('click', function() {
            var productName = document.querySelector('.rectanglefortext').value;
            var pages = document.getElementById('slider-value').textContent;
            if (pages === '') {
                pages = 50;
            }
            var url = '/vkr/getProductsMainInfo?productName=' + encodeURIComponent(productName) + '&pages=' + encodeURIComponent(pages);

            fetch(url, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    var tableBody = document.getElementById('productsBody');
                    // Очищаем содержимое таблицы
                    tableBody.innerHTML = '';

                    // Добавляем данные в таблицу
                    data.forEach(function(mainInfo) {
                        var row = document.createElement('tr');

                        var idCell = document.createElement('td');
                        idCell.textContent = mainInfo.id;
                        row.appendChild(idCell);

                        var priceCell = document.createElement('td');
                        priceCell.textContent = mainInfo.priceU;
                        row.appendChild(priceCell);

                        var salePriceCell = document.createElement('td');
                        salePriceCell.textContent = mainInfo.salePrice;
                        row.appendChild(salePriceCell);

                        var ratingCell = document.createElement('td');
                        ratingCell.textContent = mainInfo.rating;
                        row.appendChild(ratingCell);

                        var brandCell = document.createElement('td');
                        brandCell.textContent = mainInfo.brand;
                        row.appendChild(brandCell);

                        var picturesCell = document.createElement('td');
                        picturesCell.textContent = mainInfo.pics;
                        row.appendChild(picturesCell);

                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    // Обработка ошибок
                    console.log(error);
                });
        });

        document.getElementById('getProductExtendedInfoButton').addEventListener('click', function() {
            var productId = document.querySelector('.rectanglefortext:last-of-type').value;
            var url = '/vkr/getProductExtendedInfo?id=' + encodeURIComponent(productId);

            fetch(url, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    var tableBody = document.getElementById('productsExtendedInfoBody');
                    // Очищаем содержимое таблицы
                    tableBody.innerHTML = '';

                    // Добавляем данные в таблицу
                    var extendedInfo = data;
                    var row = document.createElement('tr');

                    var idCell = document.createElement('td');
                    idCell.textContent = extendedInfo.id;
                    row.appendChild(idCell);

                    var fullNameCell = document.createElement('td');
                    fullNameCell.textContent = extendedInfo.fullName;
                    row.appendChild(fullNameCell);

                    var categoryCell = document.createElement('td');
                    categoryCell.textContent = extendedInfo.category;
                    row.appendChild(categoryCell);

                    var subCategoryCell = document.createElement('td');
                    subCategoryCell.textContent = extendedInfo.subCategory;
                    row.appendChild(subCategoryCell);


                    var Option = document.createElement('td');
                    var optionDiv = document.createElement('div');
                    optionDiv.classList.add('option-div');

                    var optionText = document.createElement('div');
                    optionText.classList.add('option-text');
                    optionText.textContent = extendedInfo.options;
                    optionText.style.display = 'none';
                    optionDiv.appendChild(optionText);

                    var showButton = document.createElement('button');
                    showButton.textContent = 'Показать';
                    showButton.addEventListener('click', showAnnotationText);
                    optionDiv.appendChild(showButton);

                    Option.appendChild(optionDiv);
                    row.appendChild(Option);



                    var priceHistoryCell = document.createElement('td');
                    if (extendedInfo.priceHistory[0].price === 0) {
                        priceHistoryCell.textContent = 'История цен не доступна для данного товара';
                    } else {
                        priceHistoryCell.textContent = extendedInfo.priceHistory.map(function(price) {
                            return price.price;
                        }).join(', ');
                    }
                    row.appendChild(priceHistoryCell);



                    var Description = document.createElement('td');
                    var descriptionDiv = document.createElement('div');
                    descriptionDiv.classList.add('option-div');

                    var descriptionText = document.createElement('div');
                    descriptionText.classList.add('option-text');
                    descriptionText.textContent = extendedInfo.description;
                    descriptionText.style.display = 'none';
                    descriptionDiv.appendChild(descriptionText);

                    var showButton = document.createElement('button');
                    showButton.textContent = 'Показать';
                    showButton.addEventListener('click', showAnnotationText);
                    descriptionDiv.appendChild(showButton);

                    Description.appendChild(descriptionDiv);
                    row.appendChild(Description);


                    tableBody.appendChild(row);
                })
                .catch(error => {
                    // Обработка ошибок
                    console.log(error);
                });
        });
    });
    document.getElementById('exportExtendedInfoButton').addEventListener('click', function() {
        window.location.href = '/vkr/exportExtendedInfoToExel';
    });

    document.getElementById('exportMainInfoButton').addEventListener('click', function() {
        window.location.href = '/vkr/exportMainInfoToExel';
    });
</script>
</body>
</html>
